.embla__slide {
  min-width: 90%;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  &__inner {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    :hover {
      cursor: pointer;
      transform: scale(1.001);
    }
  }

  &__img {
    height: 80%;
    width: 80%;
    position: relative;
    background: black;
    border-radius: 20px;
    img {
      border-radius: 20px;
    }
  }
  &__title {
    margin-top: 20px;
    display: flex;
    align-items: end;
    flex-grow: 1;
  }
}

@media (max-width: 1500px) {
  .embla__slide__img {
    width: 75%;
    height: 70%;
  }
  .embla__slide__title {
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .embla__slide__inner {
    height: 600px;
  }
  .embla__slide__img {
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 768px) {
  .embla__slide__img {
    width: 60%;
    height: 50%;
  }
  .embla__slide__title {
    align-items: center;
  }
}
